<div class="col-lg-7 col-md-12 col-sm-12 my-3 text-center" id="no-folders">
  <%= inline_svg_tag("folder_add_#{application_mode}.svg", class: 'icon') %>
  
  <h5>You don’t have any folders yet.</h5>
  <span class="text-muted">Create one to get started.</span> <br />

  <%= link_to 'Create a Folder', new_folder_path, class: 'btn btn-primary mt-3' %>
</div>