<div class="col-lg-7 col-md-12 col-sm-12 my-3 text-muted text-center">
  <h2>¯\_(ツ)_/¯</h2>
  <p class=" mt-3">
    You don’t have any folders yet. <br />
    <b>Create one to get started.</b>
  </p>

  <%= link_to 'Create a Folder', new_folder_path, class: 'btn btn-brand mt-1' %>
</div>