<div id="no-tweets">
  <h2 class="text-muted mt-3">
    <%= inline_svg_tag("bookmark_#{application_mode}.svg", class: 'icon') %>
  </h2>
  <div class="text-center font-weight-normal">
    <h5 class="mt-3 mb-2">This folder is empty.</h5>
    <% if can? :manage, @folder %>
      <span class="text-muted">Add tweets to see them here!</span>
    <% end %>
  </div>
</div>