  <hr />
  <h5 class="my-3 text-center">Danger zone</h5>

  <ul class="list-group bg-transparent border border-danger mb-3">
    <li class="list-group-item transparent d-flex justify-content-between align-items-center">
      <div class="flex-auto">
        <p class="font-weight-bold mb-1"><%= t('content.actions.users.registrations.delete') %></p>
        <small>Once you delete your account, there is no going back.</small>
      </div>
      <%= button_to 'Delete', 
        registration_path(resource_name), 
        method: :delete,
        data: { 
          title: t('content.modal_titles.devise.registrations.delete'),
          'tippy-content': t('content.tippy.users.delete'),
          'tippy-placement': 'right',
          confirm: t('delete_account_confirmation_html'),
          verify: keyword_confirmation(current_user), 
          verify_text: t('verify_message_html', keyword: keyword_confirmation(current_user))
        },
        class: 'btn btn-sm btn-danger' 
      %>
    </li>
  </ul>
   
    
      


  