<div class="col-md-6">
  <%= simple_form_for(@folder) do |f| %>
    <%= f.input :name %>

    <%= f.input :description, maxlength: '200' %>

    <div class="form-actions">
      <%= f.button :submit, class: 'btn btn-brand w-100 mt-3' %>
    </div>
  <% end %>

</div>

