<div class="col-md-6 justify-content-center">
  <%= simple_form_for(@folder) do |f| %>
    <%= f.input :name, placeholder: 'Folder name', maxlength: '40' %>
    <%= f.input :description, maxlength: '200' %>

    <div class="form-actions">
      <%= f.button :submit, class: 'btn btn-brand w-100 mt-4' %>
    </div>
  <% end %>
</div>

