<div class="col-md-6 justify-content-center">
  <%= simple_form_for(@folder) do |f| %>
    <%= f.input :name, 
      placeholder: 'Folder name', 
      maxlength: '25', 
      input_html: { class: 'has-max-length'} 
    %>
    <%= f.input :description, 
      maxlength: '200', 
      input_html: { class: 'has-max-length' } 
    %>

    <div class="form-actions">
      <%= f.button :submit, class: 'btn btn-brand w-100 mt-4' %>
    </div>
  <% end %>
</div>

