<div id="no-tweets">
  <h2 class="text-muted mt-3">
    <i class="far fa-folder-open"></i>
  </h2>
  <p class="text-center text-muted font-weight-normal">
    This folder is empty. <br />
    <span class="font-weight-bold">Add tweets to see them here!</span>
  </p>
</div>