<div class="inner cover">
  <h1 class="cover-heading">Organize your saved tweets.</h1>
  <p class="lead my-4">Bookmarkd allows you to save tweets in folders! Kinda like twitter lists, 
  but it will only contain tweets added by you.
  You can also rearrange them by the date they were added! 🤩</p>
  <p class="lead">
    <%= link_to user_twitter_omniauth_authorize_path, class: 'btn btn-lg btn-brand' do %>
      <i class="fab fa-twitter"></i> Sign in with your Twitter 
    <% end %>
  </p>
  <p>
  <span class="text-muted">or</span>
  <%= link_to 'Create an account', new_user_registration_path, class: 'font-weight-bold' %>
  </p>
</div>
