<div class="col-md-9">
  <h3 class="text-center text-brand mb-3">Privacy Policy</h3>

  <p class="text-center">
    <i>
      This policy was last modified on November 02, 2020.
    </i>
  </p>

  <div class="policy-content">
    <p>
      This is the Privacy & Cookies Policy (the ‘Policy’) of bookmarkd.herokuapp.com 
      (hereafter ‘Bookmarkd’, ‘we’ or ‘us’). This Policy describes the ways in which Bookmarkd 
      collects and uses information about you when you use our website at bookmarkd.herokuapp.com 
      (the “Website”).
    </p>

    <p>
      Bookmarkd may change this Policy at any time in which case we shall notify you of any changes 
    to this Policy by noting this on the Website. The changes will apply to your use of the Website 
    after we have given notice. If you do not wish to accept the new Policy you should not continue 
    to use the Website. If you continue to use the Website after the date on which the change comes 
    into effect, your use of the Website indicates your agreement to be bound by the new Policy.
    </p>

    <p>
      Bookmarkd is committed to protecting our users' privacy. This statement is meant to inform our 
      users of how we define, gather and utilize personally identifiable information. We will take 
      reasonable steps to protect user privacy consistent within the guidelines set forth in this 
      policy and the law. By using this site, you consent to the following privacy policy.
    </p>

    <p>
      <b>
        We don’t share any personally identifying information publicly or with third-parties, 
        except when required to by law.
      </b>
    </p>

    <p>
      Our website may link to external sites that are not operated by us. Please be aware that we 
      have no control over the content and practices of these sites, and cannot accept responsibility 
      or liability for their respective privacy policies.
    </p>

    <p>
      You are free to refuse our request for your personal information, with the understanding 
      that we may be unable to provide you with some of your desired services.
    </p>

    <p>
      Your continued use of our website will be regarded as acceptance of our practices around
      privacy and personal information. If you have any questions about how we handle user data 
      and personal information, feel free to contact us.
    </p>

    <h4>What information do we collect?</h4>

    <p>
      The information we gather enables us to personalize, improve and continue to operate the 
      Services. In connection with certain aspects of the Services, we may request, collect 
      and/or display some of your Personal Information. We collect the following types of information 
      from our users.
    </p>

    <h5>Account information</h5>

    <p>
      When you create an Account, you will provide information that could be Personal Information, 
      such as your username, password, name and email address. You acknowledge that this information 
      may be personal to you. We may use your contact information to send you information about our 
      Services, but only rarely when we feel such information is important. We reserve the right to 
      contact you only when we believe it is necessary, such as for account recovery purposes.
    </p>

    <h5>
      Information you elect to share
    </h5>

    <p>
      You may access other Third Party Services through the Services, for example by clicking 
      on links to those Third Party Services from within the Site. We are not responsible for 
      the privacy policies and/or practices of these Third Party Services, and you are responsible 
      for reading and understanding those Third Party Services’ privacy policies. This Privacy 
      Policy only governs information collected on the Services.
    </p>

    <h5>
      Information disclosed for our protection and the protection of others
    </h5>

    <p>
      We also reserve the right to access, read, preserve, and disclose any information as
      it reasonably believes is necessary to: 
    </p>
    
    <ol>
      <li>
        satisfy any applicable law, regulation, legal process or governmental request;
      </li>
      <li>
        enforce this Privacy Policy and our Terms of Service, including investigation of 
        potential violations hereof;
      </li>
      <li>
        detect, prevent, or otherwise address fraud, security or technical issues;
      </li>
      <li>
        respond to user support requests;
      </li>
      <li>
        protect our rights, property or safety, our users and the public.
      </li>
    </ol>

    <h4>
      How can I delete my account?
    </h4>

    <p>
      Should you ever decide to delete your Account, you may do so by going to User Preferences 
      (clicking on your display name/username on the Website navbar) and then on the button 
      'Deactivate account'. You must be logged in to perform this action. 
      You also need to be aware that:
    </p>

    <ol>
      <li>it is permanent and it can not be undone;</li>
      <li>all your associated folders (and tweets added to it) will be deleted,
      meaning that it will not be possible to recover them in any way.</li>
    </ol>

    <p>
      If you terminate your Account, any association between your Account and information 
      we store will no longer be accessible through your Account. 
    </p>  

    <h3>Questions and Concerns</h3>

    <p>
      If you have any questions or concerns regarding privacy using the Services, 
      please send us a detailed message to 
      <a href="mailto:andreaflether@gmail.com" class="link-brand">andreaflether@gmail.com</a>.
    </p>
    <p>
      <b>
        We will make every effort to resolve your concerns.
      </b>
    </p>
  
  </div>
</div>

