$brand: #1DA1F2;
$light-white: #F5F8FA;

.text-brand { color: $brand; }

.bg-brand, .badge-brand {
  background-color: $brand;
  color: $light-white;
}

.btn-brand {
  background-color: $brand;
  color: $light-white;
  font-weight: bold;
  &:hover {
    color: $light-white;
    background-color: darken($color: $brand, $amount: 5%);
  }
}

a { text-decoration: none !important; }

.toast {
  text-shadow: none;
  color: #212529;
}

#toast-container {
  position: absolute; 
  top: 0; 
  right: 0;
}

.link-brand {
  color: $brand;
  &:hover { color: darken($color: $brand, $amount: 5%); }
}

hr { border-top: 1px solid rgba(255, 255, 255, 0.1); }

.form-control {
  &:focus {
    box-shadow: 0 0 4px $brand;
    border-color: $brand;
  }
}

.bg-custom { background-color: rgba(invert($color: #333), 0.1) }

#error_explanation {
  text-shadow: none;
  background-color: rgba(250, 51, 51, 0.35);
  p.error-title { font-size: 1.1rem; }
  span.error-message { color: #751717; }
}

button.close { text-shadow: none; }

.action-buttons {
  bottom: 20px;
  right: 20px;
}

[id^=toast-container]>div {
  box-shadow: none !important;
  padding: 15px 25px !important;
  position: fixed !important;
  top: 10px;
  right: 10px;
}

#toast-container.toast-top-center > div,
.toast-top-center {
  width: auto !important;
}

#toast-container > .toast-success,
#toast-container > .toast-error,
#toast-container > .toast-info {
  background-image: none !important;
}

abbr[title] { text-decoration: none; }

.modal-content {
  background-color: rgb(35, 36, 37);
  color: rgba(255, 255, 255, .6);
  .modal-header { border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  .modal-footer { border-top: 1px solid rgba(255, 255, 255, 0.2); }
  button { 
    color: rgba(255, 255, 255, .4);
    &:hover {
      color: rgba(255, 255, 255, 0.6);
    } 
  }
  .cancel {
    border-color: #f8f9fa;
    color: #f8f9fa;
    &:hover { color: #212529; }
    &:focus { color: #212529; }
  }
  .commit { color: #f8f9fa; }
  h5 { color: rgba(255, 255, 255, 0.9); }
  p { 
    margin-bottom: 0; 
    font-weight: bold;
  }
}

.list-group-item {
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.text-warning {
  color: rgba(#ffc107, 0.7) !important;
}

.invalid-feedback {
  color: #ea3c53 !important;
}