$brand: #1DA1F2;
$light-white: #F5F8FA;

.text-brand { color: $brand; }

.bg-brand, .badge-brand {
  background-color: $brand;
  color: $light-white;
}

.btn-brand {
  background-color: $brand;
  color: $light-white;
  font-weight: bold;
  &:hover {
    color: $light-white;
    background-color: darken($color: $brand, $amount: 5%);
  }
}

.toast {
  text-shadow: none;
  color: #212529;
}

a { text-decoration: none !important; }

a, .link-brand {
  color: $brand;
  &:hover { color: darken($color: $brand, $amount: 5%); }
}

.navbar-dark .navbar-toggler { border-color: transparent; }

hr { border-top: 1px solid rgba(255, 255, 255, 0.1); }

.form-control {
  &:focus {
    box-shadow: 0 0 1px $brand;
    border-color: $brand !important;
  }
}

#error_explanation {
  text-shadow: none;
  background-color: rgba(250, 51, 51, 0.35);
  p.error-title { font-size: 1.1rem; }
  span.error-message { color: #751717; }
}

button.close { text-shadow: none; }

.action-buttons {
  bottom: 20px;
  right: 20px;
}

[id^=toast-container]>div {
  box-shadow: none !important;
  padding: 15px 25px !important;
  top: 10px;
  right: 10px;
}

#toast-container.toast-top-center > div,
.toast-top-center { width: auto !important; }

#toast-container > .toast-success,
#toast-container > .toast-error,
#toast-container > .toast-info,
#toast-container > .toast-warning { background-image: none !important; }

abbr[title] { text-decoration: none; }

.list-group-item.transparent {
  background: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.text-warning { color: rgba(#ffc107, 0.7) !important; }

.no-shadow { text-shadow: none; }

.back-to-top-button {
  position: fixed;
  bottom: 20px;
  right: 50%;
}

.pin-folder-icon {
  color: #696969;
  &:hover { color: darken($color: #bbb, $amount: 10%)  }
}

.no-results { display: none; }

.icon-inside {
  position: absolute;
  top: calc(50% - 12px);
  z-index: 999;
}

#remove-search {
  right: 10px;
  display: block;
  cursor: pointer;
  transition: all .2s ease-in-out;
  &:hover {
    color: #ea3c53 !important;
  }
}

#search-icon { left: 10px; }

#search-folder {
  padding-left: 35px;
  padding-right: 35px;
  transition: all .2s ease-in-out;
}

.pagination {
  text-shadow: none;
  .page-item.active .page-link {
    background-color: $brand;
    border-color: $brand;
    &:hover { color: darken($color: white, $amount: 5%); }  
  }
  .page-link {
    &:hover { color: darken($color: $brand, $amount: 5%); }
  }
}

.text-lightgray { color: rgba(189, 183, 175, 0.8); }

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0.9rem;
  }
}

.fa-xs { font-size: .65em; }

.folder-title { font-size: 1.35rem !important; }

.policy-content, .terms-content {
  p, ol { color: rgb(140, 145, 152); }
}

footer {
  color: rgba(255, 255, 255, .3);
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
}

span.bootstrap-maxlength {
  z-index: 3 !important;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before,
.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
  background-color: $brand !important;
}

.custom-checkbox .custom-control-input:checked:focus ~ .custom-control-label::before {
  box-shadow: 0 0 1px $brand;
}