$dark: rgb(20, 23, 26);
$light: invert($color: $dark);

html, body { background-color: $dark !important; }
body { color: rgba($light, 0.8); }

/* Custom styles for bootstrap components */
.form-control {
  color: $light; 
  background-color: rgba(255, 255, 255, 0.03);
  border-color: rgba(255, 255, 255, 0.1);
  &:focus, 
  &:active {
    color: rgb(181, 175, 166);
    background-color: transparent;
    outline-color: initial;
  }
}

.card { background-color: rgba($light, 0.035); }

.dropdown-menu {
  background-color: $dark;
  border: none;
  box-shadow: 0 1px 10px rgba(32, 34, 35, 0.6), 0 0 0 1px rgba(60, 60, 60, 0.4);
}

.dropdown-item {
  color:  invert($color: rgba(32, 34, 35, 0.8)) !important;
  padding: 0.4rem 1.5rem;
  &:hover,
  &:active {
    background-color: invert($color:  rgba(32, 34, 35, 0.1));
  }
}

.tooltip-inner { background: rgb(60, 65, 68); }

.bs-tooltip-auto[x-placement^=bottom] .arrow::before,
.bs-tooltip-bottom .arrow::before { border-bottom-color: rgb(60, 65, 68) !important; }

.bs-tooltip-auto[x-placement^=top] .arrow::before,
.bs-tooltip-top .arrow::before { border-top-color: rgb(60, 65, 68) !important; }

.bs-tooltip-auto[x-placement^=left] .arrow::before,
.bs-tooltip-left .arrow::before { border-left-color: rgb(60, 65, 68) !important; }

.bs-tooltip-auto[x-placement^=right] .arrow::before,
.bs-tooltip-right .arrow::before { border-right-color: rgb(60, 65, 68) !important; }

.navbar-nav li a {
  font-size: 16px;
  font-weight: bold;
  color: rgba(255, 255, 255, .70);
  border-bottom: 2px solid transparent;
}

.modal-content {
  background-color: $dark;
  color: rgba(255, 255, 255, .6);
  border-color: rgba($light, 0.1);
  .modal-header { border-bottom: 1px solid rgba($light, 0.1); }
  .modal-footer { border-top: 1px solid rgba($light, 0.1); }
  button { 
    color: rgba(255, 255, 255, .4);
    &:hover {
      color: rgba(255, 255, 255, 0.6);
    } 
  }
  .commit { color: #f8f9fa; }
  h5 { color: $light; }
  p { 
    @extend .text-muted;
    margin-bottom: 0.5rem; 
    font-weight: bold;
  }
}

/* Custom styles for this application */
.bg-custom { 
  background-color: rgba($light, 0.03);
  padding: 2.5rem 3rem 2.5rem 3rem;
 }

#tweetUrl {
  color: $light;
  background-color: rgba($light, 0.1); 
  border-color: rgba($light, 0.2);
  padding-left: 35px;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  &:focus,
  &:active {
    background-color: $dark;
  }
  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(158, 150, 137);
  }
}

/* Text related */
.text-muted, .text-secondary { color: rgba($light, 0.4) !important; }

.text-light { color: rgba($light, 0.7) !important };

.text-black-50 { color: rgba(232, 230, 227, 0.5) !important; }

/* Buttons */ 
.btn-danger {
  color: rgb(232, 230, 227);
  background-color: rgb(165, 29, 42);
  border-color: rgb(148, 26, 37);
  &:hover {
    background-color: darken($color:rgb(165, 29, 42), $amount: 5%);
    border-color: rgb(165, 29, 42);
  }
} 

.btn-default {
  border-color: rgba(255, 255, 255, .75);
  color:rgba(255, 255, 255, .75) !important;
  background-color: transparent;
  &:hover, 
  &:focus,
  &:active {
    color: $dark !important;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color:  $light;
    border-color:  $light;
  }
}

.btn-outline-light {
  color: $light; 
  background-color: rgba(255, 255, 255, 0.03);
  border-color: rgba(255, 255, 255, 0.1);
  &:hover,
  &:focus,
  &:active {
    background-color: rgba($light, 0.1);
    border-color: rgb(50, 54, 56);
    color: rgb(209, 205, 199);
  }
}

.input-group-append .btn-outline-light {
  border-left: none;
}