@import 'variables';

/* Override default values */
a, abbr[title] { 
  text-decoration: none !important; 
}

body::-webkit-scrollbar {
  width: 0.8em;
}

.folder-title { 
  font-size: 1.25rem !important; 
}

span.bootstrap-maxlength {
  z-index: 3 !important;
}

.text-logo { 
  color: #333; 
}

#tweetsCount {
  font-size: 1rem;
  font-weight: normal;
}

#no-tweets {
  margin-top: 2rem;
}

.bg-custom { 
  padding: 2rem 3rem;
  box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
}

#destructive-warning {
  padding: 1rem;
  margin-bottom: 0rem;
  color: $danger;
  background-color: rgba($danger, 0.1);
  border-top: 1px solid $danger;
  border-bottom: 1px solid $danger;
}

.sort-by-button-group .btn.is-checked {
  background-color: $primary;
  color: white !important;
  border: 1px solid $primary;

  &:hover,
  &:active,
  &:focus {
    background-color: $primary !important;
    color: $light;
  }
}

.btn-outline-secondary {
  color: #657786; 
  background-color: transparent;
  border-color: #ced4da;

  &:hover,
  &:focus,
  &:active {
    background-color: rgba(#333, 0.15);
    border-color: #ced4da;
    color: #333;
  }
}

.sort-by-button-group .btn {
  @extend .btn-outline-secondary;
}

/* Custom styles */
footer {
  color: #6c757d;
  height: 60px;      /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
}

 /* Actions and/or Icons */
 .application-mode, .back-to-top {
   bottom: 20px;
 }

.application-mode {
  right: 20px;
}

.icon-inside {
  position: absolute;
  top: calc(50% - 12px);
  z-index: 999;
}

#remove-search {
  right: 10px;
  display: block;
  cursor: pointer;
  transition: all .2s ease-in-out;
  &:hover {
    color: $danger !important;
  }
}

.hasToggledIcon {
  padding-left: 35px;
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}

.icon {
  width: 5.5rem;
  height: 5.5rem;
}

#search-icon { 
  left: 10px; 
}

#search-folder {
  padding-left: 35px;
  padding-right: 35px;
  transition: all .2s ease-in-out;
}

.toggle-fixed {
  bottom: 0; 
  height: 10vh; 
  width: 250px;

  .folder-sidebar {
    left: 1.3rem;
    cursor: pointer;

    .folder-icon {
      transition: all 600ms cubic-bezier(0.215, 0.60, 0.355, 1);
    }
  }
}

.list-group-item.active {
  background-color: rgba(32, 34, 35, 0.08);
}

.actions {
  margin-top: 15px;
}

[id^=toast-container] > div {
  box-shadow: none !important;
  top: 10px;
  right: 10px;
}

.folder-menu {
  left: -250px;
  width: 250px; 
  height: 90vh; 
  overflow: hidden;

  &:hover {
    overflow-y: auto;
  }

  &::-webkit-scrollbar {
    width: 7px;
  }
}

.folder-menu.expanded {
  left: 0;
}

#sidebar-folder-search, 
.easy-autocomplete input {
  background-color: transparent;
}

.easy-autocomplete-container ul {
  li {
    padding: 0.5rem 0.8rem;
  }
}

.border-top-brand {
  border-top: 3px solid $primary !important;
}