$dark: #121212;
$light: invert($color: $dark);
$brand: #1DA1F2;

/* Override default values */
html, body { 
  background-color: $dark !important; 
  color: rgba($light, 0.8); 
}

hr, .modal-footer { 
  border-top: 1px solid rgba(#fff, 0.1);
}

/* Overriding bootstrap default values */
.btn-outline-secondary { 
  border-color: rgba(#fff, 0.15) !important; 
  &:hover,
  &:focus,
  &:active {
    background-color: rgba(#fff, 0.07);
  }
}

.card { 
  background-color: rgba($light, 0.05); 
}

.custom-control-label {
  &:before {
    background-color: transparent;
    border-color: rgba(#fff, 0.15); 
  }
}

.dropdown-menu { 
  background-color: #191919; 
}

.dropdown-item {
  color: rgba($light, 0.8) !important;
  &:hover,
  &:active,
  &:focus {
    background-color: rgba($light, 0.06);
  }
}

.form-control {
  color: rgba($light, 0.8); 
  background-color: transparent;
  border-color: rgba($light, 0.2);
  &:focus, 
  &:active {
    color: rgb(181, 175, 166);
    background-color: transparent !important;
    outline-color: initial;
  }
}

.form-control:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #fff;
  -webkit-box-shadow: 0 0 0px 1000px #121212 inset !important;
  transition: background-color 5000s ease-in-out 0s;
}

.list-group-item.transparent {
  background: transparent;
}

.modal-content {
  background-color: $dark;
  color: rgba(#fff, .6);
  border-color: rgba($light, 0.1);
  button { 
    color: rgba(#fff, .4);
    &:hover {
      color: rgba(#fff, 0.6);
    } 
  }
  .commit { color: #f8f9fa; }
  h5 { color: $light; }
  p { 
    margin-bottom: 0.5rem; 
    font-weight: bold;
  }

  .modal-header {
    border-bottom: 1px solid rgba(#fff, 0.1);
  }
}

.navbar-nav .nav-item .nav-link  { 
  color: rgba(#fff, .60); 
  &:hover {
    color: rgba(#fff, .80);
  }
}

/* Text related */
.text-light { 
  color: rgba($light, 0.7) !important; 
}

.text-black-50 { 
  color: rgba(232, 230, 227, 0.5) !important; 
}

.policy-content, .terms-content {
  p, ol { 
    color: rgb(140, 145, 152); 
  }
}

/* Buttons/Bgs */
.bg-custom {
  background-color: rgba($light, 0.03);
}

.btn-default {
  border-color: rgba(#fff, .75);
  color:rgba(#fff, .75) !important;
  background-color: transparent;
  &:hover, 
  &:active {
    color: $dark !important;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color:  $light;
    border-color:  $light;
  }
}

/* Custom styles */
#error_explanation {
  background-color: rgba(#dc3545, 0.5);
  color: #cfcfcf;
}

/* Actions and/or Icons */
.pin-folder-icon, .folder-dropdown-options {
  color: #696969;
  &:hover { 
    color: darken($color: #bbb, $amount: 10%) 
  }
}

/* Pagination */
.pagination {
  text-shadow: none;
  .page-item .page-link {
    background-color: transparent;
    color: rgba($light, 0.4);
    &:hover {
      background-color: rgba($light, 0.1);
      color: #fff;
    }
  }
  .page-item.active .page-link {
    &:hover {
      background-color: $brand;
    }
  }
}

.border-right {
  border-color: rgba($light, 0.1) !important;
}

.list-group-item-action {
  &:hover {
    background-color: rgba($light, 0.06);
  }
}

.muted {
  background-color: rgba($light, 0.06);
  color: rgba($light, 0.7) !important;
}

.list-group-item-action {
  color: rgba($light, 0.5);
}

.list-group-item-action.active {
  @extend .muted;
}

.list-group-item-action {
  &:focus,
  &:hover,
  &:active {
    @extend .muted;
  }
}

.list-group-flush > .list-group-item.transparent {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.list-group-flush > .list-group-item:last-child {
  border-bottom-width: 0;
}

body::-webkit-scrollbar-track,
.folder-menu::-webkit-scrollbar-track {
  background: rgba($light, 0.1); 
}

body::-webkit-scrollbar-thumb,
.folder-menu::-webkit-scrollbar-thumb {
  background: rgba($light, 0.2);
}

body::-webkit-scrollbar-thumb:hover,
.folder-menu::-webkit-scrollbar-thumb:hover {
  background: rgba($light, 0.3); 
}

.folder-menu, .tips {
  background-color: $dark;
}

.sort-by-button-group .btn {
  border-color: rgba(#fff, 0.2);
  color: rgba(#fff, 0.3);
  &:hover {
    background-color: rgba(#fff, 0.1);
    color: #fff;
  }
}

.easy-autocomplete input {
  border-color: rgba($light, 0.2);
  color: rgba($light, 0.8); 
}

.easy-autocomplete-container ul {
  background-color: lighten($color: $dark, $amount: 5%);
}

.easy-autocomplete-container ul li {
  border-color: rgba($light, 0.2);
  color: rgba($light, 0.8); 
  background-color: $dark;
}

.easy-autocomplete-container ul li.selected {
  background: none repeat scroll 0 0 lighten($color: $dark, $amount: 5%) !important;
}