<div class="position-fixed application-mode"></div>

<%= link_to '#', 
  class: 'btn btn-primary position-fixed back-to-top invisible',
  data: { 
    'tippy-content': t('content.tippy.misc.go_to_top'), 
    'tippy-placement': 'right'
  } do %>
  <i class="fas fa-arrow-up"></i>
<% end %>