<div class="position-fixed application-mode">
  <% if cookies[:sun] %>
    <%= link_to moon_path, method: :get, 
      data: { 
        mode: 'light',
        'tippy-content': 'Switch application to dark mode',
        'tippy-placement': 'right'
      } do %>
      <i class="fas fa-moon fa-lg"></i>
    <% end %>   
  <% else %>
    <%= link_to sun_path, method: :get, 
      data: { 
        mode: 'dark',
        'tippy-content': 'Switch application to light mode',
        'tippy-placement': 'right'
      } do %>
      <i class="fas fa-sun fa-lg"></i>
    <% end %>
  <% end %>
</div>

<% if user_signed_in? %>
  <div class="position-fixed folder-sidebar">
    <a id="toggle-sidebar" 
      class="link-brand" 
      data-tippy-content="Toggle folder sidebar" 
      data-tippy-placement="left"
    >
      <i class="fas fa-folder fa-2x"></i>
    </a>
  </div>
<% end %>