<div class="position-fixed application-mode">
  <input type="checkbox" 
    checked
    id="darkSwitch"
    data-toggle="toggle" 
    data-on="<i class='fas fa-moon'></i>" 
    data-off="<i class='fa fa-sun'></i>">
</div>

<%= link_to '#', 
  class: 'btn btn-primary position-fixed back-to-top invisible',
  data: { 
    'tippy-content': t('content.tippy.misc.go_to_top'), 
    'tippy-placement': 'right'
  } do %>
  <i class="fas fa-arrow-up"></i>
<% end %>